mixin promo
    .promo(data-content="easy")
            
        
    

-
    var items = [
                    { title: "Draw", img: "draw"},
                    { title: "Use camer", img: "camera"},
                    { title: "Use mobile vea sms", img: "sms-mobile"},
                    { title: "Upload", img: "upload"},
                    { title: "Vea qr code", img: "qr-mobile"},
                    { title: "Use mobile vea email", img: "email-mobile"}
                ]
