extends ../_template

block variables
  - var title = 'Manager'

block content
    section.manager
        .container
            .manager__left
                .manager__header
                    .heading-wrap
                        figure.logo
                            a.logo__link(href="#" target="_blank") 
                                svg.logo__img
                                    use(xlink:href="assets/img/sprite.svg#gallery-signature")
                        h1.heading Create Your Signature / Initials
                    .close-btn
                        svg.close-btn__img
                            use(xlink:href="assets/img/sprite.svg#shape")
                .manager__content
                    .manager__content-header
                        .manager__content-img-wrap
                            svg.manager__content-img
                                use(xlink:href="assets/img/sprite.svg#type")
                            .title-wrap
                                h2.title Type
                        .manager__content-login
                            .manager__content-text.manager__content-text_mods 
                                | Easy way to create your signature or initials type your name or select an option from the bottom to create your signature or initials.
                            form.form
                                .form__input-wrap
                                    label.form__label(for="login")
                                    input.form__input(name="login" type="text" placeholder="John Smith")
                                input.form__btn(type="submit" value="Sign")
                        .manager__content-user
                            span.manager__content-user-name John Smith

                    ul.manager__content-list
                        each item in items
                            li.manager__content-item
                                +promo
                                .manager__content-img-wrap
                                    svg.manager__content-img
                                        use(xlink:href="assets/img/sprite.svg#" + item.img)
                                .manager__content-discription
                                    .title-wrap.manager__title-wrap_mods
                                        h2.title #{item.title}
                                    .manager__content-text 
                                        | Lorem Ipsum is simply dummy text of the printing and typesetting industry.
